*{
    margin: 0;
    padding: 0;
}
body{
    background: aliceblue;
}
.pfp-1{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.op-1{
    color: grey;
}
.crd-1{
    width: 27% !important;
}
i{
    color: grey;
}